$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

// Loader Styles
$blue: rgb(0, 155, 255);
.jawn {
  position: relative;
  background-color: #F8E71C;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 40px;
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
  &:after {
    left: -10px;
    top: -5px;
    background-color: #C7C2A6;
    transform-origin: 15px 10px;
    animation: axis 1s linear infinite;
  }
  &:before {
    left: -25px;
    top: -15px;
    background-color: $blue;
    transform-origin: 30px 20px;
    animation: axis 2s linear infinite;
  }
}

@keyframes axis {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 0, 0);
  }
}

//Loader Styles End

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Custom page header */

.header {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
  .title {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    color: #db6aa4;
  }
}


/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow> hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}


/* Supporting marketing content */

.marketing {
  margin: 40px 0;
  p+ h4 {
    margin-top: 28px;
  }
}

.day {
  .day-header {
    text-align: center;
    color: #db6aa4;
    font-family: 'Molle';
    &.ng-hide-add,
    &.ng-hide-remove {
      transition: all ease-out 2.0s;
      -webkit-filter: blur(0px);
      -webkit-transition: all 2.0s ease-out;
    }
    &.ng-hide {
      opacity: 0;
      -webkit-filter: blur(8px);
    }
  }
  .master-question {
    text-align: center;
  }
  .day-content {
    &.ng-hide-add,
    &.ng-hide-remove {
      transition: all ease-out 2.0s;
      -webkit-filter: blur(0px);
      -webkit-transition: all 2.0s ease-out;
    }
    &.ng-hide {
      opacity: 0;
      -webkit-filter: blur(8px);
    }
  }
}

.question-card {
  text-align: center;
  position: relative;
  padding: 50px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  &.ng-hide-add,
  &.ng-hide-remove {
    transition: all linear 2.0s;
  }
  &.ng-hide {
    opacity: 0;
  }
  .question {
    h4 {
      font-family: 'Great Vibes', cursive;
      font-size: 34px;
    }
    p {
      font-family: 'Great Vibes', cursive;
      font-size: 34px;
    }
  }
  .joke {
    font-family: 'Bad Script', cursive;
    font-size: 28px;
  }
  input {
    font-family: 'Bad Script', cursive;
    font-size: 30px;
    width: 80%;
  }
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .container {
    max-width: 1280px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}