<timeline>
  <timeline-event class="col-sm-5">
    <timeline-panel class="col-sm-12 {{event.badgeClass}}">
      <timeline-heading>
        <h4>{{event.title}}</h4>
      </timeline-heading>
      <p>{{event.content}}</p>
    </timeline-panel>
  </timeline-event>
  <timeline-badge class="{{event.badgeClass}}">
    <i class="glyphicon {{event.badgeIconClass}}"></i>
  </timeline-badge>
  <timeline-event class="col-sm-5 timeline-inverted">
    <timeline-panel class="col-sm-12 {{event.badgeClass}}">
      <timeline-heading>
        <h4>{{event.title}}</h4>
      </timeline-heading>
      <p>{{event.content}}</p>
    </timeline-panel>
  </timeline-event>
</timeline>
