<timeline>
  <timeline-event class="col-sm-5">
    <timeline-panel class="col-sm-12">
      <timeline-heading>
        <div ng-bind-html="dayOverview"></div>
      </timeline-heading>
      <div class="point-of-interest" ng-repeat="poi in ctrl.day.pointOfInterest">
        <div class="carousel-wrapper">
          <uib-carousel no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in poi.slides" index="slide.id">
              <img ng-src="{{slide.image}}" style="margin:auto;">
            </uib-slide>
          </uib-carousel>
        </div>
        <div class="day-detail">
          {{poi.details}}
        </div>
      </div>
    </timeline-panel>
  </timeline-event>
  <timeline-badge class="">
    <i class="glyphicon info"></i>
  </timeline-badge>
  <timeline-event class="col-sm-5 timeline-inverted">
    <timeline-panel class="col-sm-12">
      <timeline-heading>
        <h4>something</h4>
      </timeline-heading>
      <p>something else</p>
    </timeline-panel>
  </timeline-event>
</timeline>