<timeline>
  <timeline-event class="col-sm-5">
    <timeline-panel class="col-sm-12 {{event.badgeClass}}">
      <timeline-heading>
        <h4>{{event.title}}</h4>
      </timeline-heading>
      <div style="height: 305px">
        <uib-carousel no-wrap="noWrapSlides">
          <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
          </uib-slide>
        </uib-carousel>
      </div>
      <div class="day-detail">
        {{currentDayDetail}}
      </div>
    </timeline-panel>
  </timeline-event>
  <timeline-badge class="{{event.badgeClass}}">
    <i class="glyphicon {{event.badgeIconClass}}"></i>
  </timeline-badge>
  <timeline-event class="col-sm-5 timeline-inverted">
    <timeline-panel class="col-sm-12 {{event.badgeClass}}">
      <timeline-heading>
        <h4>{{event.title}}</h4>
      </timeline-heading>
      <p>{{event.content}}</p>
    </timeline-panel>
  </timeline-event>
</timeline>