<div class='col-sm-12 day'>
    <div class="col-sm-12 day-header">
        <div class="row">
            <h2>DAY 1</h2>
        </div>
    </div>
    <div class="col-sm-12 day-content">
        <day-card day="dayDetails[0]"></day-card>
    </div>
    <div class="col-sm-12 day-header">
        <div class="row">
            <h2>DAY 2</h2>
        </div>
    </div>
    <div class="col-sm-12 day-content">
        <day-card day="dayDetails[1]"></day-card>
    </div>
    <div class="col-sm-12 day-header">
        <div class="row">
            <h2>DAY 3</h2>
        </div>
    </div>
    <div class="col-sm-12 day-content">
        <day-card day="dayDetails[2]"></day-card>
    </div>
    <div class="col-sm-12 day-header">
        <div class="row">
            <h2>DAY 4</h2>
        </div>
    </div>
    <div class="col-sm-12 day-content">
        <day-card day="dayDetails[3]"></day-card>
    </div>
    <div class="col-sm-12 day-header">
        <div class="row">
            <h2>DAY 5</h2>
        </div>
    </div>
    <div class="col-sm-12 day-content">
        <day-card day="dayDetails[4]"></day-card>
    </div>
    <div class="col-sm-12 day-header">
        <div class="row">
            <h2>DAY 6</h2>
        </div>
    </div>
    <div class="col-sm-12 day-content">
        <day-card day="dayDetails[5]"></day-card>
    </div>
</div>